<!-- Masthead-->

<div class="col-lg-10 align-self-end">
    <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Source of Resume Templates
    </h1>
    <hr class="divider my-4" />
</div>
<div class="col-lg-8 align-self-baseline">
    <p class="text-white-75 font-weight-light mb-5"><span class="text-light text-bold">Resume Book</span> can help you
        create your killer Resume for free of cost. Create Your awesome resume with our awesome templates in no time.
    </p>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/builder">Create Your Resume</a>
</div>